<%= simple_form_for @reminder do |f| %>
<%= f.input :date, as: :string, input_html: {class:'datepicker'} %>
<%= f.input :body %>
<%= f.association :horse, label: "Horse", input_html: {class:'horse-dropdown'} %>
<%= f.input :upload, as: :file %>

<%= f.submit "Add Reminder", class: "btn btn-primary" %>

<% end %>


<script>
$(document).ready(function() {
  $('.datepicker').flatpickr(
      {enableTime: true}
  );

  $('.multiple').select2();

  function formatHorse (horse) {
    if (!horse.id) {
      return horse.text;
    }

    console.log(horse);

    let $horse= $(
    `<span><img src="/uploads/horse/avatar_url/${horse.id}/thumb_horseavatar.jpg"/> ` +  horse.text  + `</span>`
   );

    return $horse;
  };

  $(".horse-dropdown").select2({
    templateResult: formatHorse
  });
});
</script>
