<h1>Crop Avatar</h1>
<h4>Preview</h4>
<div style="width:100px; height:100px; overflow:hidden">
  <%= image_tag @horse.avatar_url.url(:large), :id => "preview" %>
</div>
<%= image_tag @horse.avatar_url.url(:large), id: "cropbox" %>
<%= form_for @horse do |f| %>
  <% %w[x y w h].each do |attribute| %>
    <%= f.hidden_field "crop_#{attribute}" %>
  <% end %>
  <div class="actions">
    <%= f.submit "Crop", class: "btn btn-primary" %>
  </div>
<% end %>
