<div class="container-fluid">
<h1>Horses</h1>
<div class="row d-flex">

<% @horses.each do |horse| %>
<% if horse.users.first == current_user %>


<div class="col-md-4">
  <%= link_to (horse_path(horse)), class: "card-link" do %>
  <div class="card" style="margin:10px">
    <div class="row d-flex horse-card">
  <div class="col-sm" style="background-image:url(<%= horse.avatar_url.url(:small)%>); height:200px; background-size:cover; padding:0" >
 </div>
 <div class="col-sm">
   <div class="card-text">
   <h2><%= horse.name %> </h2>
   <p> <%= horse&.breed %> <%= horse&.sex%> </p>
 </div>
 </div>
</div>
</div>
<% end %>
</div>


<% end %>
<% end %>

<div class="col-md-4">
  <%= link_to (new_horse_path), class: "card-link" do %>
  <div class="card" style="margin:10px">
    <div class="row d-flex horse-card" style="height:200px">
 <div class="col-sm">
   <div class="card-text d-flex justify-content-center" style="margin-top:40px">
     <i class="fa fa-plus fa-2x" aria-hidden="true"></i>
   <h2 >Add a horse </h2>

 </div>
 </div>
</div>
</div>
</div>
<% end %>


</div>
</div>
