<div class="row">
<div class="col-lg-3" style="background-image:url(<%=@horse.avatar_url.url%>); height:1300px; background-size:cover; background-position:center;color:white">
  <h2 class="horse-heading"> <%= @horse.name %> </h2>

<div class="horse-internal-links">
  <%= link_to 'Recent Posts', post_by_horse_path %> <br>
  <%= link_to "Reminders for #{@horse.name}", reminders_by_horse_path %>
</div>
<%= link_to 'edit', edit_horse_path %>
<%= link_to 'delete', horse_path %>

Archive this horse

</div>


<div class="col-md">



<div class="horse-details">
  <%if @horse.full_name?%> <strong> Full Name: </strong> <%= @horse&.full_name %> <br> <%end%>

  <%if @horse.breed.present?%> <strong> Breed: </strong> <%= @horse&.breed %> </br> <% end %>
  <%if @horse.approx_age.present?%><strong> Age(approx) </strong> <%= Date.today.year - @horse&.approx_age %> <% end%> <br>
  <%if @horse.age.present?%> <strong> Age </strong> <%= Date.today - @horse&.age %> / Birthday: <%= @horse&.age %>  <%end%> <br>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
</div>

</div>

<div class="col-md-4">
  <%= image_tag @horse.avatar_url.url(:small), class: "float:right" if @horse.avatar_url.present? %>
  Reminders?
  <p>Add Log</p>
  <p>Add Reminder</p>
</div>

</div>
