<h1>Welcome!</h1>



<h2>Current Weather </h2>
<div class="current-weather">

  <%=@darksky['currently']["summary"] %>
  <div>
    <canvas id="icon" width="128" height="128"></canvas>
  <% icon = @darksky['currently']["icon"] %>
</div>
  <%=@darksky['currently']["temperature"] %> °C <br>
  Chance of Precip: <%=@darksky['currently']["precipProbability"] %>


  <script>
  var skycons = new Skycons({"color": "purple"})
  skycons.add("icon", "<%=icon%>");
  skycons.play();
</script>
</div>


 <% i = 0 %>
<%= calendar number_of_days: 5 , events: @posts do |date, posts| %>
<%= date.day %>


  <% posts.each do |post| %>
    <div>
      <%= post.horse.name %> <br>
    </div>
  <% end %>

<style>
.calendar-heading {
  display: none;
}
</style>

<% weather_date = DateTime.strptime(@darksky["daily"]["data"][i]["time"].to_s, '%s') %>
<% weather_date_simple = weather_date.strftime('%Y-%m-%d') %>
<%if date.to_s == weather_date_simple %>
<%= weather_date.strftime('%B %d, %Y') %>
   <h1>I match!</h1>
   <% end %>
<div class="forecast-icon">
<% icon = 'icon_' + i.to_s %>
<% icon_string = @darksky["daily"]["data"][i]["icon"] %>
<canvas id="<%=icon%>"  width="60" height="60"></canvas>
<script>
  var skycons = new Skycons({"color": "purple"})
  skycons.add("<%=icon%>", "<%=icon_string%>")
    skycons.play();
 </script>
</div>
<div style="max-width:200px">
 High:  <%= @darksky["daily"]["data"][i]["temperatureHigh"] %>°C<br>
Low: <%= @darksky["daily"]["data"][i]["temperatureLow"] %>°C <br>
<%= @darksky["daily"]["data"][i]["summary"] %>
</div.
 <% i += 1%>

<% end %>










<p>Manage and track your riding life</p>

<p>Features to look forward to</p>

<ul>
  <li>Add horses</li>
  <li>Add posts - about your rides or training/groundwork session</li>
  <li>Add notes on your horses - track any issues etc</li>
  <li>Data - how often do you ride?</li>
  <li>Filter by horse, category</li>
  <li>Share to social media</li>
  <li>Create google calandar events if signed in? </li>
  <li>Add video?</li>
  <li>Contacts</li>
  <li>Goals </li>
  <li>Follow people?</li>
  <li>Public posts?</li>
  <li>Search?</li>
  <li>Horsey places nearby?</li>
  <li>Add photos from facebook and instagram?</li>
  <li>Add lists? Google tasks?</li>
</ul>

if lesson show trainer field
