<div class="container-fluid">
<h2>Current Weather </h2>




<% if params[:longitude] && params[:latitude] %>

<div class="current-weather">

  <%=@darksky['currently']["summary"] %>
  <div>
    <canvas id="icon" width="128" height="128"></canvas>
  <% icon = @darksky['currently']["icon"] %>
</div>
  <%=@darksky['currently']["temperature"] %> °C <br>
  Chance of Precip: <%=@darksky['currently']["precipProbability"] %>


  <script>
  var skycons = new Skycons({"color": "purple"})
  skycons.add("icon", "<%=icon%>");
  skycons.play();
</script>
</div>


 <% i = 0 %>
<%= calendar number_of_days: 7 , events: @reminders do |date, reminders| %>
<%= date.day %>



<style>
.calendar-heading {
  display: none;
}
</style>

<% weather_date = DateTime.strptime(@darksky["daily"]["data"][i]["time"].to_s, '%s') %>
<% weather_date_simple = weather_date.strftime('%Y-%m-%d') %>

<div class="weather-info">
<div class="forecast-icon">
<% icon = 'icon_' + i.to_s %>
<% icon_string = @darksky["daily"]["data"][i]["icon"] %>
<a href="#" data-toggle="tooltip" data-placement="left" title="<%= @darksky["daily"]["data"][i]["summary"] %>
">
<canvas id="<%=icon%>"  width="60" height="60"></canvas>
</a>

<script>
  var skycons = new Skycons({"color": "purple"})
  skycons.add("<%=icon%>", "<%=icon_string%>")
    skycons.play();
 </script>

</div>
<div class="temp">
H: <%= @darksky["daily"]["data"][i]["temperatureHigh"].round(0) %>°C<br>
L: <%= @darksky["daily"]["data"][i]["temperatureLow"].round(0) %>°C
</div>

 <% i += 1%>
</div>

 <% reminders.each do |rem| %>
 <div>
   <%= rem.body %> <br>
 </div>
 <% end %>
<% end %>

Weather data from <a href="http://darksky.com"> DarkSky API </a>

<% else %>


  <p> Please be patient and "hold your horses" while we fetch your location for the weather.</p>
<%= image_tag 'horserain.gif' %>



  <script>
  function setLocation(lat, long) {
    window.location = `<%= weather_index_path %>?longitude=${long}&latitude=${lat}`
  }
    navigator.geolocation.getCurrentPosition(function(position) {
      setLocation(position.coords.latitude, position.coords.longitude);

    });
  </script>
<% end  %>

</div>

<script>

$('td.day').on('click', function(e) {
  $(this).alert('hi')
 })



$(function () {
  $('[data-toggle="tooltip"]').tooltip()
})</script>
