<%= simple_form_for @post do |f| %>
<%= f.input :date, as: :string, input_html: {class:'datepicker'} %>

<%= f.input :title %>
<%= f.association :horse, label: "Horse", input_html: {class:'image-dropdown'} %>
<%= f.input :body, as: :trix_editor %>
<%= f.simple_fields_for :post_images do |img| %>
  <%= render 'post_image_fields', f:img %>
  <% end %>
  <div class="links">
    <%= link_to_add_association 'add image', f, :post_images %>
  </div>
<%= f.association :categories, input_html: {class: "category"} %>
<%= f.submit "Add Session", class: "btn btn-primary" %>

<% end %>

<% currentdate = Time.now.strftime("%Y")%>


<% @category.each do |c| %>

<script>

$(document).ready(function() {


  function formatHorse (horse) {
    if (!horse.id) {
      return horse.text;
    }

    console.log(horse);

    let $horse= $(
    `<span><img src="/uploads/horse/avatar_url/${horse.id}/thumb_horseavatar.jpg"/> ` +  horse.text  + `</span>`
   );

    return $horse;
  };


  function formatCategory (cat) {
    if (!cat.id) {
      return cat.text;
    }

  let iconName = cat.text.toLowerCase().replace(' ', '_') + '_icon' + ".PNG"

  console.log(iconName);


    let $category= $(
    `<span> <img src='/horse_icons/${iconName}' style='width:30px' />`  + cat.text  + `</span>`
   );

    return $category
  };

  $(".image-dropdown").select2({
    templateResult: formatHorse,
    templateSelection:formatHorse
  });

  $('.category').select2({
    templateResult: formatCategory,
    templateSelection:formatCategory
  });
});
</script>
<% end %>
