<%= simple_form_for @post do |f| %>
<%= f.input :date %>

<%= f.input :title %>
<%= f.association :categories, input_html: {class: "js-example-basic-multiple"} %>
<%= f.association :horse, label: "Horse", input_html: {class:'dropdown'} %>
<%= f.input :body %>
<%= f.submit "Add Session", class: "btn btn-primary" %>

<% end %>


<script>
$(document).ready(function() {
  $('.js-example-basic-multiple').select2();
  $('.dropdown').select2();

  function formatHorse (horse) {
    if (!horse.id) {
      return horse.text;
    }

    console.log(horse);

    let $horse= $(
    `<span><img src="/uploads/horse/avatar_url/${horse.id}/thumb_horseavatar.jpg"/> ` +  horse.text  + `</span>`
   );

    return $horse;
  };

  $(".dropdown").select2({
    templateResult: formatHorse
  });

});
</script>
