Filter by: [select]



<% @posts.each do |post| %>
  <div style="border:2px black solid; margin-bottom:20px;">
<%= link_to post_path(post) do %>
  <strong> <%= post.title %> -  <%= post.date.strftime('%B %d, %Y') if post.date.present? %> </strong> <br>
  <% end %>
  <div class="horse-info">
  <%= image_tag post.horse.avatar_url.url(:thumb), class:"horse-info-avatar"  if post.horse.avatar_url.present?%>
  <%= post.horse.name %>
</div>

      <% post.categories.each do |c| %>
      <div class="btn btn-info category" style="background-color: <%=c.color%>"> <%= image_tag c.category_img, style: 'width:30px' %>
<%= c.name %> </div>
      <% end %>
</div>
<% end %>
