<h3> <%= @post.date %> </h3>
<h3>  <%= @post.title %> </h3>

 <%= image_tag (@post.horse.avatar_url.url(:small)) %>

<%= link_to horse_path(@post.horse) do %>
<%= @post.horse.name %> <br>
  <% end %>

Type:
<% @post.categories.each do |c| %>
<div class="btn btn-dark" style="background-color: <%=c.color%>"> <%= c.name %> </div>
<% end %>

<br>
 <%= @post.body %>

<div>
<%= link_to 'edit', edit_post_path, class:"btn btn-warning" %>
<%= link_to 'delete', post_path, class:"btn btn-danger" %>

</div>
